[Desktop Entry]
Type=Application
Categories=Graphics
Name=oklch-color-picker
Comment=OKlab color editor.
Path=/usr/bin
Exec=oklch-color-picker
Icon=kcolorchooser
Terminal=false
